
.name{
    display: block;
    margin-left: 39%;
    FONT-SIZE: x-large;
}

.contact{
    margin-left: 30%;
}

.link-decoration{
    text-decoration: none;
}

.objective{
    margin-left: 15%;
    margin-right: 15%;
}